<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration Page </title>
</head>

<body >
    <br>
    <br>
    <form bgcolor="lightpink" style="margin-left: 300px; margin-top: 20px; border: 3px; background-color: lightseagreen; 
    margin-right: 50px;padding: 30px; margin-right: 300px; margin-bottom: 40px;">
        <h1  style="margin: 20px 50px 20px 220px;">REGISTRATION FORM</h1>
        <label> Firstname: </label>
        <input type="text" name="firstname" placeholder="enter first name" size="20"  style="width: 300px; height: 25px;" /> <br> <br>
        <label> Lastname: </label>
        <input type="text" name="lastname" placeholder="enter last name" size="15" style="width: 300px; height: 25px;"/> <br> <br>

        <label>
            Course :
        </label>
        <select>
            <option value="Course">Course</option>
            <option value="BCA">BCA</option>
            <option value="BBA">BBA</option>
            <option value="B.Tech">B.Tech</option>
            <option value="MBA">MBA</option>
            <option value="MCA">MCA</option>
            <option value="M.Tech">M.Tech</option>
        </select>

        <br>
        <br>
        <label>
            Gender :
        </label><br>
        <input type="radio" name="male" /> Male <br>
        <input type="radio" name="female" /> Female <br>
        <input type="radio" name="other" /> Other
        <br>
        <br>

        <label>
            Phone :
        </label>
        <input type="text" name="country code" value="+91" size="2" style=" height: 25px;" />
        <input type="text" name="phone" size="10" style="width: 300px; height: 25px;" /> <br> <br>
        Address
        <br>
        <textarea cols="80" rows="3" value="address">
        </textarea>
        <br> <br>
        Email:
        <input type="email" id="email" name="email" style="width: 300px; height: 25px;" /> <br>
        <br> <br>
        Password:
        <input type="Password" id="pass" name="pass" style="width: 300px; height: 25px;"> <br>
        <br> <br>
        Re-type password:
        <input type="Password" id="repass" name="repass" style="width: 300px; height: 25px;"> <br> <br>
        <input type="button" value="Submit" style="width: 100px; height: 35px; margin-left: 350px; background-color:rgb(232, 184, 184); margin-top: 20px; font-size: 20px;"/>
    </form>

</body>

</html>