<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
       <section>
        <form  style="margin-left: 350px; margin-top: 70px; background-color: rgb(96, 194, 209);margin-right: 350px; padding-bottom: 50px;">
          <h1 style="margin: 0px 200px 10px 350px; padding-top: 30px;">FORM</h1>
          <input type="text" placeholder="enter First name"  style="margin-left: 180px; margin-top: 50px ;width: 400px; height: 40px;border-radius: 30px;background-color: rgb(251, 200, 217);" ><br><br>
          <input type="text" placeholder="enter Last name" style="margin-left: 180px; margin-top: 20px ;width: 400px; height: 40px;border-radius: 30px;background-color: rgb(196, 241, 246);"><br><br>
          <input type="text" placeholder="enter Mobile number" style="margin-left: 180px; margin-top: 20px ;width: 400px; height: 40px;border-radius: 30px;background-color: rgb(236, 205, 233);"><br><br>
          <input cols="80" rows="3"placeholder="Address" style="margin-left: 180px; margin-top: 20px ;width: 400px; height: 40px;border-radius: 30px;background-color: rgb(221, 224, 187);"><br><br>
          <input type="text" placeholder="enter Email address" style="margin-left: 180px; margin-top: 20px ;width: 400px; height: 40px;border-radius: 30px;background-color: rgb(202, 252, 202);"><br><br>
          <input type="text" placeholder="enter Password" style="margin-left: 180px; margin-top: 20px ;width: 400px; height: 40px;border-radius: 30px;background-color: rgb(242, 203, 169);"><br><br>
          <input type="text" placeholder="Submit" style="margin-left: 270px; margin-top: 30px ;width: 200px; height: 40px;border-radius: 30px;background-color: rgb(233, 150, 178);"><br><br>
        
        </form>
       </section>
</body>
</html>